body{
    height: 100vh;
    width: 100vw;

    margin: 0em;
    padding: 0em;

    background-color: rgb(244, 245, 240);

    overflow-x: hidden;
}

/*Barra de navegación*/

#barraNav{
    background-color: rgb(0, 140, 69);

    height: 6em;
}

.navbar{
    background-color: rgb(0, 140, 69) !important; 
}

h2{
    color: rgb(205, 33, 42);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.navColor{
    color: rgb(244, 245, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navColor:hover{
    color: red;
    transition: 0.75s;
}

/*Div vacios para alinear*/

.topDiv{
    height: 2em;
}

.alinear{
    display: flex;
    justify-content: center;
    align-items: center;
}

.izqDiv{
    width: 10em;
}

.derDiv{
    width: 10em;
}

.mid{
    height: 3em;
}

.abajo{
    height: 5em;

}

.abajoCon{
    height: 15em;

}

/*Div página index*/

.izqDivS{
    width: 5em;
}

.derDivS{
    width: 5em;
}

/*Pie de página*/
.pie{
    background-color: rgb(205, 33, 42);

    height: 8.2em;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
}

.localizacion{
    color: rgb(244, 245, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.horario{
    color: rgb(244, 245, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Propiedades del formulario*/

.tituloCon{
    display: grid;
    justify-content: center;
    text-decoration: underline;
}

.espacioCon{
    height: 3em;
}

.botonCon{
    display: grid;
    justify-content: center;
}

/*Centrar elementos del menu*/

.comida{

    display: grid;
    justify-content:center;

    text-align: center;
    
}

/*Decoración de los textos*/

.textoDec{
    background-color:rgb(205, 33, 42);
    color: rgb(244, 245, 240);
    padding: 1em;
    border: 2px solid black;
}

.textoCab{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.menu{
    text-decoration: underline;
}

.texto{
    font-family: 'Times New Roman', Times, serif;
}

.textoComida{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


