body{
    height: 100vh;
    width: 99.1vw;

    margin: 0em;
    padding: 0em;

}

/*Barra de navegación*/

#barraNav{
    height: 10em;

    background-color: #E32E37;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container-fluid{
    font-style: italic;
}

.navbar-brand{
    font-weight: bold;
}

#logo img{
    width: 6em;
}


/*Cabecera del indice*/

#cabecera{
    background-image: url(../img/wine.jpg);
}

/*Información del restaurante en la página del indice*/

#info{
    height: 64em;

    background-color: greenyellow;

    display: flex;
}

#videoRes{
    background-color: coral;

    height: 64em;
    width: 100vw;
}

#infoRes{
    background-color: rgb(145, 15, 23);

    height: 64em;
    width: 100vw;
}

/*Pie de página*/

#pie{
    height: 16em;

    background-color: #E32E37;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topPie{
    width: 50em;
    height: 8em;

    background-color: #E32E37;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color:#F7F7F7;
}

#datos{
    width: 20em;
    height: 8em;

    background-color: #E32E37;
}

#horario{
    width: 20em;
    height: 8em;
    background-color: #E32E37;

    text-align: right;
}

.textPieTitulo{
    margin: 1em;

    text-decoration: underline;

    font-size: 1.20em;
}

.textPie{
    margin: 1em;
}