body{
    height: 100vh;
    width: 99.1vw;

    margin: 0em;
    padding: 0em;

}

/*Barra de navegación*/

#barraNav{
    height: 15vh;

    background-color: #E32E37;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container-fluid{
    font-style: italic;
}

.navbar-brand{
    font-weight: bold;
}

#logo img{
    width: 6em;
}


/*Cabecera del indice*/

#cabecera{
    height: 85vh;

    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;
}

#textoCabecera{
    height: 20em;
    width: 20em;

    background-color: coral;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#benvenuti{
    background-color: beige;

    height: 6em;
}

#cabeceraMenu{
    background-color: brown;

    height: 4em;
    width: 12em;
}

/*Información del restaurante en la página del indice*/

#info{
    height: 64em;

    background-color: greenyellow;

    display: flex;
}

#videoRes{
    background-color: coral;

    height: 64em;
    width: 100vw;
}

#infoRes{
    background-color: rgb(145, 15, 23);

    height: 64em;
    width: 100vw;
}

/*Pie de página*/

#pie{
    height: 16em;

    background-color: blueviolet;
}